body {
	widows:0; 
	orphans:0; 
	font-family:'Liberation Serif'; 
	font-size:12pt;
	/* width:100%; */
	/* height:100%; */
	/* overflow:hidden; */
	
	
}
p {
	margin:0px;
	margin-top:5px;
}
.global-block {
	display:inline-block;
	height:100%;
	overflow:auto;
	vertical-align:top;
}
#summary {
	/* width:220px; */
	text-align:left;
}
#notice {
	/* width:calc(100% - 225px); */
}
.global-block-print {
	width:100%;
	font-weight:normal;
}
.global-block-summary {
	width:250px;
}
.global-block-notice {
	width:calc(100% - 255px);
}

.title {
	text-align:center;
}
.title-block {
	display:inline-block;
	margin:10px;
}
.title-title {
	font-size:300%;
	font-weight:bold;
}
.title-under {
	font-size:200%;
	font-style:italic;
}

.chapter {
	font-weight:bold;
	font-size:130%;
	margin-top:3em;
}
.section {
	text-align:justify;
	margin-bottom:8em;
	margin-left:2em;
	margin-right:2em;
}

.index {
	margin-left:2px;
}
.index-item {
	display:block;
	padding-left:5px;
}
.index-title {
	font-size:110%;
}
.sepLL {
	margin-left:3em;
	font-size:80%;
}

.embed {
	vertical-align:top;
	margin-left:0.2em;
	margin-right:0.2em;
	width:20px;
}
.sepL {
	margin-left:1em;
}
.sepList {
	margin-left:2em;
	margin-top:1em;
}
.sepList2 {
	margin-left:4em;
	list-style-type:circle;
}
.sepList3 {
	margin-left:7em;
	list-style-type:none;
}
.sepListMini {
	margin-left:1.5em;
	margin-top:0.5em;
}

.imgTitle {
	width:30px;
	vertical-align:middle;
	margin-left:0.5em;
}
.imgSummary {
	width:15px;
	vertical-align:middle;
}

.text-block {
	display:inline-block;
	vertical-align:middle;
}
.text-title {
	font-size:110%;
	margin-top:1em;
}
.divLink {
	position:absolute;
	left:10px;
	border:none;
	/* border: 1px solid #000000; */
	cursor:pointer;
	text-decoration:none;
	display:block;
	width:320px;
}
.divLink:hover {
	border: 2px dashed #000000;
	background-color: #00000022;
}

.divImg {
	position:absolute;
}
.svgArrow {
	position:absolute;
	--color:#2a6099;
	stroke:var(--color);
	stroke-width:2;
	fill:var(--color);
}
.textInfo {
	position:absolute;
	width:500px;
	font-style:italic;
	font-family: sans-serif, "Helvetica Neue", "Lucida Grande", Arial;
	font-stretch: extra-condensed;
	font-size:80%;
}

.hint {
	margin-top:5px;
	margin-left:20%;
	margin-right:20%;
	font-style:italic;
}
.sample {
	margin-left:8em;
	margin-right:5em;
	font-style:italic;
}